.dynamic_Form {
  max-width: 1500px;
  margin: 0 auto;
}

.input_field {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 15px;
  background-color: white;
}

.user_list_title {
  font-size: 25px;
}
.user_index {
  font-size: 18px;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label_title {
  display: block;
  margin: 40px 0 40px;
  font-size: 25px;
  font-weight: 700;
}

.users_block {
  display: flex;
  column-gap: 20px;
  margin-bottom: 20px;
}

.button_add {
  width: 120px;
  height: 50px;
  font-size: 30px;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 17px;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: rgba(60, 62, 72, 0.567);
}

.button_add:hover {
  border-color: #646cff;
}
.button_add:focus,
.button_add:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.remove_button_block {
  position: relative;
  margin: 5px 0 15px;
}

.button_remove {
  font-size: 30px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: rgb(182, 24, 40);
}

.button_remove:hover {
  border-color: #646cff;
}
.button_remove:focus,
.button_remove:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.list_item {
  list-style: none;
  font-size: 18px;
}

.list_users_block {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
