#root {
  max-width: 1500px;
  margin: 0 auto;
}

h2 {
  font-size: 25px;
}
.user_index {
  font-size: 15px;
  margin-bottom: 5px;
}

button {
  font-size: 30px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 15px;
}

label {
  display: block;
  margin: 40px 0 10px;
  font-size: 25px;
  font-weight: 700;
}

.first_input_block {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}

.button_add {
  width: 200px;
  height: 100px;
  position: fixed;
  top: 200px;
  left: 400px;
}

.remove_button_block {
  position: relative;
  margin: 5px 0 15px;
}

li {
  list-style: none;
  font-size: 18px;
}
